.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.comment-item-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 18px;
  margin-top: 10px;
  width: 95%;
}
@media screen and (min-width: 768px) {
  .comment-item-container {
    width: 100%;
  }
}

.initial-comment {
  display: flex;
  flex-direction: row;
}
.initial {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 22px;
}
.initial-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  min-width: 45px;
  height: 45px;
  border-radius: 30px;
  margin-right: 20px;
  margin-top: 10px;
}

.name-comment {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
.name-time {
  display: flex;
  align-items: center;
}
.name {
  font-family: 'Roboto';
  font-size: 22px;
  color: #475569;
  font-weight: 500;
}

.comment {
  font-family: 'Roboto';
  font-size: 16px;
  color: #94a3b8;
  font-weight: 500;
  padding-top: 0px;
  margin-top: 0px;
}

.posted-time {
  font-family: 'Roboto';
  font-size: 12px;
  color: #94a3b8;
  margin-left: 25px;
  font-weight: 300;
}

.like-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.like-container {
  display: flex;
  align-items: center;
}
.like-img {
  margin-right: 10px;
  width: 28px;
  height: 28px;
}
.like-status {
  font-family: 'Roboto';
  font-size: 20px;
  color: #94a3b8;
  font-weight: 500;
  border: none;
  outline: none;
  background: transparent;
}
.delete-button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.delete-icon {
  width: 28px;
  height: 28px;
}

.horizon-line {
  height: 3px #cbd2d9;
  width: 100%;
}

.liked-color {
  color: #0ea5e9;
}
